body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    padding: 20px;
    background-color: #1E1E1E;
}

.logo {
    width: 150px;
    display: block;
    margin: 0 auto;
}

h1 {
    margin: 10px 0;
}

.slogan {
    font-size: 1.2em;
    color: white;
}

nav ul {
    list-style-type: none;
    padding: 0;
    background-color: #222;
    overflow: hidden;
}

nav ul li {
    display: inline;
    padding: 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    border: 2px solid white;
    padding: 10px;
    background-color: #000;
}

video {
    width: 80%;
    max-width: 800px;
    height: auto;
    border-radius: 10px;
}

.curso-imagen {
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    margin: 20px 0;
}

footer {
    background-color: #1E1E1E;
    padding: 20px;
    margin-top: 20px;
}

.social-links {
    margin-top: 10px;
}

.social-links img {
    width: 40px;
    margin: 0 10px;
}
